<header id="navegacao">
  <section class="center clear">
    <div class="conteudo"></div>
    <section id="artigos">
      <div class="conteudo"></div>
      <h2>Artigos</h2>
      <div class="dataJson-area-artigos center cardsgroup"></div>
    </section>

    <section class="dataJson-models-artigos">
      <article class="dataJson-item-artigos w33">
        <div class="conteudo"></div>
        <a href="#artigos">
          <header>
            <h5>
              <div class="dataJson-item-artigos--title"></div>
            </h5>
            <p><span class="dataJson-item-artigos--date"></span></p>
          </header>
          <div>
            <h6 class="dataJson-item-artigos--resume"></h6>
          </div>
        </a>
      </article>
    </section>
    <div class="conteudo"></div>
  </section>
</header>
