<section id="artigos">
    <div class="conteudo"></div>
    <h2>Artigos</h2>
    <div class="flex-container">
        <article class="card blue flex-item">
            <header>
                <img src="../../static/img/financeiro.webp" alt="">
                <h5>Resultados</h5>
                <h6>Publicado em: 14/11/2023</h6>
                <hr>
            </header>
            <div>
                <h6 id="artigoFinanceiro">...</h6>
            </div>
            <footer><a class="linkInfo" href="#artigos">Continue lendo ...</a></footer>
        </article>

        <article class="card blue flex-item">
            <header>
                <img src="../../static/img/processos.webp" alt="">
                <h5>Reestruturação</h5>
                <h6>Publicado em: 16/11/2023</h6>
                <hr>
            </header>
            <div>
                <h6 id="artigoProcesso">...</h6>
            </div>
            <footer><a class="linkInfo" href="#artigos">Continue lendo ...</a></footer>
        </article>

        <article class="card blue flex-item">
            <header>
                <img src="../../static/img/estrategia.webp" alt="">
                <h5>Estratégia</h5>
                <h6>Publicado em: 18/11/2023</h6>
                <hr>
            </header>
            <div>
                <h6 id="artigoEstrutura">...</h6>
            </div>
            <footer><a class="linkInfo" href="#artigos">Continue lendo ...</a></footer>
        </article>

        <div class="clear"></div>
    </div>
</section>