<section id="artigos">
    <div class="conteudo"></div><!-- conteudo -->
    <h2>Artigos</h2>
    <div class="center cardsgroup">
        <article class="w33 left">
            <header>
                <img src="../../static/img/financeiro.webp" alt="">
                <h5>Resultados</h5>
                <p>Publicado em: 15/11/2020</p>
                <hr>
            </header>
            <div>
                <h6 id="artigoFinanceiro">Maior eficiência do processo orçamentário e de controle dos gastos e crescimento da receita operacional, com melhoria da margem de contribuição.</h6>
            </div>
            <footer><a class="linkInfo" href="#artigos">Continue lendo ...</a></footer>
        </article>

        <article class="w33 left">
            <header>
                <img src="../../static/img/processos.webp" alt="">
                <h5>Reestruturação</h5>
                <p>Publicado em: 15/11/2020</p>
                <hr>
            </header>
            <div>
                <h6 id="artigoProcesso">Padronização dos procedimentos gerenciais e operacionais com aumento da produtividade e garantia de processos estáveis e padronizados.</h6>
            </div>
            <footer><a class="linkInfo" href="#artigos">Continue lendo ...</a></footer>
        </article>

        <article class="w33 left">
            <header>
                <img src="../../static/img/estrategia.webp" alt="">
                <h5>Estratégia</h5>
                <p>Publicado em: 15/11/2020</p>
                <hr>
            </header>
            <div>
                <h6 id="artigoEstrutura">Foco nos resultados de médio e longo prazo e maximização do lucro e do crescimento sustentado. Aumento da confiabilidade nos serviços e produtos.</h6>
            </div>
            <footer><a class="linkInfo" href="#artigos">Continue lendo ...</a></footer>
        </article>

        <div class="clear"></div>
    </div>
</section>
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/main.js"></script>