<section id="clientes">
    <div class="conteudo"></div>
    <h2>Nossos Clientes</h2>
    <div class="flex-container">
        <article class="card red flex-item">
            <header>
                <img class="img-round" src="../../static/img/people.jpg" alt="">
                <h5>Oficina Adjafer</h5>
                <hr>
            </header>
            <footer><a class="linkInfo" href="#clientes">...</a></footer>
        </article>

        <article class="card red flex-item">
            <header>
                <img class="img-round" src="../../static/img/people.jpg" alt="">
                <h5>Syssa Baby</h5>
                <hr>
            </header>
            <footer><a class="linkInfo" href="#clientes">...</a></footer>
        </article>

        <article class="card red flex-item">
            <header>
                <img class="img-round" src="../../static/img/people.jpg" alt="">
                <h5>K & L Comércio</h5>
                <hr>
            </header>
            <footer><a class="linkInfo" href="#clientes">...</a></footer>
        </article>

        <div class="clear"></div>
    </div>
</section>