<section id="clientes">
    <div class="conteudo"></div>
    <h2>Nossos Clientes</h2>
    <div class="center cardsgroup">
        <article class="w33 left">
            <header>
                <img class="img-round" src="../../static/img/planobasico.webp" alt="">
                <h5>Cliente 1</h5>
                <hr>
            </header>
            <footer><a class="linkInfo" href="#clientes">Depoimento ...</a></footer>
        </article>

        <article class="w33 left">
            <header>
                <img class="img-round" src="../../static/img/planoprata.webp" alt="">
                <h5>Cliente 2</h5>
                <hr>
            </header>
            <footer><a class="linkInfo" href="#clientes">Depoimento ...</a></footer>
        </article>

        <article class="w33 left">
            <header>
                <img class="img-round" src="../../static/img/planoouro.jpg" alt="">
                <h5>Cliente 3</h5>
                <hr>
            </header>
            <footer><a class="linkInfo" href="#clientes">Depoimento ...</a></footer>
        </article>

        <div class="clear"></div>
    </div>
</section>