<section id="itens">
    <div class="conteudo"></div>
    <h2>Nossos Serviços</h2>

    <div class="center cardsgroup">

        <article class="w33 left card green">
            <header>
                <h5>Gestão Financeira</h5>
            </header>
            <div>
                <h6 class="textoFinanceiro">Auxiliar a reduzir despesas financeiras, melhorar o retorno sobre o patrimônio, obter ganhos no fluxo de caixa operacional e eliminar desperdícios.</h6>
            </div>
            <footer><a href="#rodape"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="w33 left card green">
            <header>
                <h5>Gestão de Vendas</h5>
            </header>
            <div>
                <h6 class="textoVendas">Assegurar o crescimento das vendas, a melhoria da lucratividade e a longevidade dos resultados. Identificar e padronizar as melhores práticas.</h6>
            </div>
            <footer><a href="#rodape"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="w33 left card green">
            <header>
                <h5>Gestão de Estoque</h5>
            </header>
            <div>
                <h6 class="textoEstoque">Equilibrar compras, armazenagem e entregas, controlando as entradas e o consumo de materiais e movimentando o ciclo dos produtos.</h6>
            </div>
            <footer><a href="#rodape"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <div class="clear"></div>

    </div>

    <div class="center cardsgroup">

        <article class="w33 left card green">
            <header>
                <h5>Gestão de Compras</h5>
            </header>
            <div>
                <h6 class="textoCompras">Otimizar os custos e o potencial aumento da lucratividade sobre as vendas atraves da padronização do planejamento das compras com base no perfil dos seus clientes.</h6>
            </div>
            <footer><a href="#rodape"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="w33 left card green">
            <header>
                <h5>Gestão de Produção</h5>
            </header>
            <div>
                <h6 class="textoProducao">Levantar e analisar as interrupções nos processos produtivos e as respectivas causas dessas interrupções, viabilizando um maior ganho de produtividade.</h6>
            </div>
            <footer><a href="#rodape"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="w33 left card green">
            <header>
                <h5>Gestão Administrativa</h5>
            </header>
            <div>
                <h6 class="textoAdministrativo">Gerenciar as rotinas a fim de permitir que profissionais sejam capazes de resolver problemas do dia a dia e de minimizar a sobrecarga de supervisores e gerentes.</h6>
            </div>
            <footer><a href="#rodape"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <div class="clear"></div>

    </div>

</section>