<section id="itens">
    <div class="conteudo"></div>
    <h2>Nossos Serviços</h2>

    <div class="flex-container">

        <article class="card green flex-item">
            <header>
                <h5>Finanças</h5>
            </header>
            <div>
                <img class="img-round" src="../../static/img/financeiro.webp" alt="">
                <ul>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                </ul>
            </div>
            <footer><a href="#itens"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="card green flex-item">
            <header>
                <h5>Vendas</h5>
            </header>
            <div>
                <img class="img-round" src="../../static/img/estrategia.webp" alt="">
                <ul>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                </ul>
            </div>
            <footer><a href="#itens"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="card green flex-item">
            <header>
                <h5>Estoque</h5>
            </header>
            <div>
                <img class="img-round" src="../../static/img/processos.webp" alt="">
                <ul>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                </ul>
            </div>
            <footer><a href="#itens"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="card green flex-item">
            <header>
                <h5>Compras</h5>
            </header>
            <div>
                <img class="img-round" src="../../static/img/planoprata.webp" alt="">
                <ul>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                </ul>
            </div>
            <footer><a href="#itens"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="card green flex-item">
            <header>
                <h5>Produção</h5>
            </header>
            <div>
                <img class="img-round" src="../../static/img/planobasico.webp" alt="">
                <ul>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                </ul>
            </div>
            <footer><a href="#itens"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

        <article class="card green flex-item">
            <header>
                <h5>Administrativo</h5>
            </header>
            <div>
                <img class="img-round" src="../../static/img/planoouro.jpg" alt="">
                <ul>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                    <li class="h6">...</li>
                </ul>
            </div>
            <footer><a href="#itens"><button class="btnInfo" type="button">Mais informações</button></a></footer>
        </article>

    </div>

</section>