<header id="navegacao">
  <section class="center clear">
    <div class="conteudo"></div>
    <section id="planos">
      <div class="conteudo"></div>
      <h2>Planos</h2>
      <h6>Escolha a melhor modalidade para você:</h6>
      <h6>Presencial ou Online</h6>
      <div class="dataJson-area-planos center cardsgroup"></div>
    </section>

    <section class="dataJson-models-planos">
      <article class="dataJson-item-planos w33">
        <a href="#planos">
          <header>
            <h5>
              <div class="dataJson-item-planos--title"></div>
            </h5>
            <div class="dataJson-item-planos--img"><img class="img-data" src="" /></div>
          </header>
          <div>
            <h6 class="dataJson-item-planos--resume"></h6>
          </div>
        </a>
      </article>
    </section>

    <div class="conteudo"></div>
  </section>
</header>
