<section class="purchase" id="planos">
    <h2>Nossos Planos</h2>
    <div class="flex-container">
        <ul class="flex-item">
            <li>
                <a href="#planos">
                    <strong>Plano Básico</strong>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <big class="purchase-price">$ </big>
                    <span class="purchase-button">Comprar Agora</span>
                </a>
            </li>
        </ul>
        <ul class="flex-item">
            <li>
                <a href="#planos">
                    <strong>Plano Prata</strong>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <big class="purchase-price">$ </big>
                    <span class="purchase-button">Comprar Agora</span>
                </a>
            </li>
        </ul>
        <ul class="flex-item">
            <li>
                <a href="#planos">
                    <strong>Plano Ouro</strong>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <span class="purchase-description">...</span>
                    <big class="purchase-price">$ </big>
                    <span class="purchase-button">Comprar Agora</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="conteudo"></div>
</section>
<!-- https://codepen.io/ThatGuySam/pen/JjzLbq -->