<section class="purchase" id="planos">
    <div class="container">
        <ul>
            <li>
                <a href="#planos">
                    <strong>Plano Básico</strong>
                    <span class="purchase-description">1 site</span>
                    <span class="purchase-description">1 Ano Atualizações</span>
                    <span class="purchase-description">1 Ano Email Suporte</span>
                    <big class="purchase-price">$ </big>
                    <span class="purchase-button">Comprar Agora</span>
                </a>
            </li>

            <li>
                <a href="#planos">
                    <strong>Plano Prata</strong>
                    <span class="purchase-description">3 sites</span>
                    <span class="purchase-description">1 Ano Atualizações</span>
                    <span class="purchase-description">1 Ano Email Suporte</span>
                    <big class="purchase-price">$ </big>
                    <span class="purchase-button">Comprar Agora</span>
                </a>
            </li>

            <li>
                <a href="#planos">
                    <strong>Plano Ouro</strong>
                    <span class="purchase-description">5 sites</span>
                    <span class="purchase-description">1 Ano Atualizações</span>
                    <span class="purchase-description">1 Ano Email Suporte</span>
                    <big class="purchase-price">$ </big>
                    <span class="purchase-button">Comprar Agora</span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- https://codepen.io/ThatGuySam/pen/JjzLbq -->