<section id="planos">
    <div class="container">
        <div class="row" id="table-prices">
            
            <div class="col-md-4">
            <div class="table-price">
                <div class="title">Plan 1</div>
                <div class="price">300.-</div>
                <div class="description">
                    <ul class="options">
                        <li>2x <span>option 1</span></li>
                        <li>Free <span>option 2</span></li>
                        <li>Unlimited <span>option 3</span></li>
                        <li>Unlimited <span>option 4</span></li>
                        <li>1x <span>option 5</span></li>
                    </ul>
                </div>
                <div class="contact"><a href="#">Contact Me</a></div>
            </div>
            </div>
            
            <div class="col-md-4">
            <div class="table-price">
                <div class="title">Plan 2</div>
                <div class="price">400.-</div>
                <div class="description">
                    <ul class="options">
                        <li>2x <span>option 1</span></li>
                        <li>Free <span>option 2</span></li>
                        <li>Unlimited <span>option 3</span></li>
                        <li>Unlimited <span>option 4</span></li>
                        <li>1x <span>option 5</span></li>
                    </ul>
                </div>
                <div class="contact"><a href="#">Contact Me</a></div>
            </div>
            </div>
            
            <div class="col-md-4">
            <div class="table-price">
                <div class="title">Plan 3</div>
                <div class="price">600.-</div>
                <div class="description">
                    <ul class="options">
                        <li>2x <span>option 1</span></li>
                        <li>Free <span>option 2</span></li>
                        <li>Unlimited <span>option 3</span></li>
                        <li>Unlimited <span>option 4</span></li>
                        <li>1x <span>option 5</span></li>
                    </ul>
                </div>
                <div class="contact"><a href="#">Contact Me</a></div>
            </div>
            </div>
            
        </div>
    </div>
</section>