<footer id='rodape'>
    <div class='conteudo'></div>
    <div class='center clear cardsgroup'>
        <article class='w20 left'>
            <div class='textcenter'>
                <header>
                    <h6>Institucional</h6>
                </header>
                <ul>
                    <li><a href='../index.html#quemsomos'>Quem Somos</a></li>
                    <li><a href='../index.html#servicos'>Nossos Serviços</a></li>
                    <li><a href='../index.html#planos'>Nossos Planos</a></li>
                    <li><a href='../index.html#clientes'>Nossos Clientes</a></li>
                </ul>
            </div>
        </article>

        <article class='w20 left'>
            <div class='textcenter'>
                <header>
                    <h6>Conteúdo</h6>
                </header>
                <ul>
                    <li><a href='../index.html#artigos'>Blog</a></li>
                    <li><a href='https://drive.google.com/drive/folders/1R1l-behXWj0xBBMhD6XLfQ1G-KnZCkz1?usp=sharing'
                            target='_blank'>Downloads</a></li>
                    <li><a href='../index.html#rodape'>Agenda</a></li>
                    <li><a href='../index.html#rodape'>Podcasts</a></li>
                </ul>
            </div>
        </article>

        <article class='w20 left'>
            <div class='textcenter'>
                <header>
                    <h6>Dados para Contato</h6>
                    <p><strong>E-mail</strong></p>
                    <p><a href='https://br.yahoo.com/?p=us' target='_blank' role='button'>sanlisgestao@yahoo.com</a>
                    </p>
                    <p><strong>Telefone</strong></p>
                    <p>(31) 98112-4429</p>
                    <p><strong>Horário de atendimento</strong></p>
                    <p>Segunda-feira a Sexta-feira</p>
                    <p>08h00 às 18h00</p>
                </header>
            </div>
        </article>

        <article class='w20 left'>
            <div class='textcenter'>
                <header>
                    <h6>Redes Sociais</h6>
                </header>
                <div class='redessociais w50 center'>
                    <a href='https://wa.me/message/OXVJNATOPP7QK1' target='_blank'><i
                            class='fab fa-whatsapp-square fa-3x'></i></a>
                    <a href='https://t.me/sanlisgestao' target='_blank'><i class='fab fa-telegram fa-3x'></i></a>
                    <div class='clear'></div>
                </div>

                <div class='redessociais w50 center'>
                    <a href='https://www.instagram.com/sanlisgestao' target='_blank'><i
                            class='fab fa-instagram fa-3x'></i></a>
                    <a href='https://www.twitter.com/sanlisgestao' target='_blank'><i
                            class='fab fa-twitter-square fa-3x'></i></a>
                    <div class='clear'></div>
                </div>

            </div>
        </article>

        <article class='w20 left'>
            <div class='textcenter'>
                <header>
                    <h6>Área Restrita</h6>
                </header>
                <ul>
                    <li><a href='../index.html' target='_blank'><button type='button'>Entrar</button></a></li>
                    <li><a href='../index.html' target='_blank'><button type='button'>Registrar</button></a></li>
                </ul>
            </div>
        </article>
    </div>
    <div class='conteudo'></div>
</footer>