@import url('root.css');


.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 10px;
    margin: 20px;
    width: 350px;
    min-height: 400px;
    transition: all 0.3s ease-out;
}

.card-quemsomos {
    border-radius: 5px;
    box-shadow: 14px 14px 26px 0px rgba(50, 200, 50, 0.22);
    padding: 30px;
    margin: 20px;
    transition: all 0.3s ease-out;
}

.card:hover, .card-quemsomos:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: white;
    font-size: 16px;
}

.blue {
    border-left: 3px solid var(--color-blue);
}

.green {
    border-left: 3px solid var(--color-green);
}

.green-quemsomos {
    border: 3px dotted var(--cinzaGainsboro);
}